
.footer {
  width: 100%;
  height: 318px;
  background-color: var(--color_FFFDE6);
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contener-site {
  width: 80%;
  height: 254px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
}
.info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-footer ul {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}
.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.logo h6 {
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  color: var(--color_323232);
  white-space: nowrap;
}
.link-footer,
.link-footer-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: #323232;
}
.link-footer h5,
.link-footer-2 h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: var(--color_323232);
}
.link-footer ul {
  display: flex;
  flex-direction: column;
}
.link-footer ul li a {
  color: var(--color_323232);
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  margin-right: 1.5rem;
}
.link-footer-2 h5 {
  margin-right: 6rem;
  white-space: nowrap;
}
.link-footer-2 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.link-footer-2 ul li {
  color: var(--color_323232);
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  white-space: nowrap;
}