.section-off {
  margin-top: 5rem;
  text-align: center;
}
.section-off .title {
  display: flex;
  justify-content: center;
}
.off-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin-top: 2.5rem;
  gap: 1rem;
}

/* left-------- */
.off-left-item {
  max-height: 335px;
  border-radius: 20px;
  background-color: var(--color_F1F1F1);
  border: 1px solid var(--color_E3E3E3);
  padding: 2rem 0 2rem 1.3rem;
  position: relative;
  overflow: hidden;
}
.title-left {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.title-left span:first-child {
  max-width: 166px;
  color: var(--color_323232);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.title-left span:last-child {
  display: inline-block;
  width: 70%;
  background-color: var(--color_7D7C7C);
  height: 1px;
}
.left-site {
  display: flex;
  margin-top: 10px;
}
.left-site button {
  margin-top: 3.5rem;
  border: none;
  color: var(--color_F1F1F1);
  background-color: var(--color_504F4F);
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.left-item-content {
  width: 80%;
  text-align: left;
}
.left-item-content h6 {
  font-size: 28px;
  font-weight: 600;
  color: var(--color_C90000);
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 100%;
}
.left-item-content p {
  width: 70%;
  font-size: 16px;
  font-weight: 400;
  color: var(--color_504F4F);
  line-height: 24px;
  margin-bottom: 1rem;
}
.price {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.price del {
  color: var(--color_7D7C7C);
  font-weight: 600;
  font-size: 16px;
}
.price span {
  color: var(--color_C90000);
  font-weight: 600;
  font-size: 24px;
}
.img-lef {
  max-width: 273px;
  max-height: 204px;
  position: absolute;
  left: 170px;
  top: 77px;
}
/* center----- */
.off-center-item {
  max-height: 335px;
  border-radius: 20px;
  background-color: var(--color_F1F1F1);
  position: relative;
  padding: 2rem 0 2rem 1.3rem;
  overflow: hidden;
}
.center-site {
  display: flex;
  margin-top: 10px;
}
.center-site button {
  margin-top: 3.5rem;
  border: none;
  color: var(--color_F1F1F1);
  background-color: var(--color_504F4F);
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.price-center {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 3.3rem;
}
.price-center del {
  color: var(--color_7D7C7C);
  font-weight: 600;
  font-size: 16px;
}
.price-center span {
  color: var(--color_C90000);
  font-weight: 600;
  font-size: 24px;
}
.img-center {
  max-width: 273px;
  max-height: 204px;
  position: absolute;
  left: 180px;
  top: 89px;
}
/* right---------- */
.off-right-item {
  max-width: 370px;
  max-height: 335px;
  border-radius: 20px;
  background-color: var(--color_F1F1F1);
  position: relative;
  padding: 2rem 0 2rem 1.3rem;
  overflow: hidden;
}
.right-item-content {
  width: 100%;
  text-align: left;
}
.right-item-content h6 {
  font-size: 28px;
  font-weight: 600;
  color: var(--color_C90000);
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 100%;
}
.right-item-content p {
  width: 70%;
  font-size: 16px;
  font-weight: 400;
  color: var(--color_504F4F);
  line-height: 24px;
  margin-bottom: 2.7rem;
}

.img-right {
  max-width: 273px;
  max-height: 204px;
  width: 273px;
  position: absolute;
  left: 170px;
  top: 110px;
}
.off-center-item:hover,
.off-left-item:hover,
.off-right-item:hover {
  background-color: var(--color_C90000);
  transition: all 250ms ease-in;
  transform: scale(1.05);
  cursor: pointer;
  h6 {
    color: var(--color_FFC300);
  }
  p {
    color: var(--color_F1F1F1);
    transition: all 250ms ease-in;
  }
  .price span,
  .price-center span {
    color: var(--color_FFC300);
    transition: all 250ms ease-in;
  }
  .price del,
  .price-center del {
    color: var(--color_F1F1F1);
    transition: all 250ms ease-in;
  }
  .title-left span {
    color: var(--color_F1F1F1);
    transition: all 250ms ease-in;
  }
  .left-item-content button,
  .right-item-content button {
    background-color: #f1f1f1;
    color: var(--color_323232);
    transition: all 250ms ease-in;
  }
  .svg-off path {
    fill: var(--color_323232);
    transition: all 250ms ease-in;
  }
}